@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --dark-color: #454545;
  --light-color: #ffe6c7;

  --primary-color: #ff6000;
  --secondary-color: #ff8033;
  --tertiary-color: #ffa066;
  --quaternary-color: #ffbf99;

  --font-family: "Work Sans", sans-serif;
  --xsmall-size: 0.5rem;
  --small-size: 0.8rem;
  --normal-size: 1rem;
  --medium-size: 1.1rem;
  --large-size: 1.5rem;
  --xlarge-size: 2rem;

  --normal-border-radius: 8px;
  --circular-border-radius: 50%;
}

.dark-mode {
  --body-bg-color: #181a1b;
  --card-bg-color: var(--dark-color);
  --card-text-color: white;
}

.light-mode {
  --body-bg-color: white;
  --card-bg-color: white;
  --card-text-color: black;
}

body {
  background-color: var(--body-bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--dark-color);
  text-align: center;
  color: white;
}

.nav-heading--span {
  color: var(--secondary-color);
}

.toggle-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--normal-border-radius);
  background-color: #ff6000;
  color: white;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: var(--secondary-color);
}

.nav-toggle-mode {
  margin-left: 1rem;
  font-size: var(--normal-size);
  cursor: pointer;
}

.refresh-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: var(--normal-border-radius);
  background-color: var(--primary-color);
  font-weight: bold;
  font-size: var(--normal-size);
  color: white;
  cursor: pointer;
}

.refresh-btn:hover {
  background-color: var(--secondary-color);
}

.load-spinner {
  width: 7rem;
  margin-top: 2rem;
}

.error-message {
  margin-top: 5rem;
  font-size: var(--medium-size);
  font-weight: bold;
  color: red;
}

main,
.user-card-container,
.user-cards,
.user-details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.user-card-container {
  margin-top: 5rem;
}

.user-cards {
  width: 32rem;
  padding: 2rem;
  margin: 3rem 0;
  border: 5px solid var(--primary-color);
  border-radius: var(--normal-border-radius);
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
}

.user-name-head {
  position: absolute;
  top: 16.6rem;
  left: 44.3rem;
  padding: 0.3rem 0.5rem;
  background-color: var(--primary-color);
  color: white;
}

.user-profile-pic {
  width: 10rem;
  margin-bottom: 2rem;
  border-radius: var(--circular-border-radius);
  border: 5px solid black;
}

.user-gender {
  text-transform: capitalize;
}

.other-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 2rem;
  font-size: var(--medium-size);
}

.details-heading {
  font-size: var(--medium-size);
  font-weight: bolder;
  color: var(--primary-color);
}

.details-sub-heading {
  font-weight: bold;
}

.view-password-btn {
  border: none;
  background: none;
  font-size: var(--normal-size);
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
}

.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
